body {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  font-size: 22px;
  background-image: url("../images/ac_background.jpg");
  background-attachment: fixed;
}
body a {
  color: #015064;
}
body a:hover {
  text-decoration: none;
}
body .navbar-default {
  background: rgba(255, 255, 255, 0.9);
}
body .navbar-default a {
  font-size: 18px;
  color: #033c4b;
}
body section {
  padding-top: 60px;
  padding-bottom: 60px;
}
body section#about {
  background-image: url("../images/crossword.png");
  color: #424242;
}
body section#about #about-us-content {
  padding-top: 20px;
}
body section#about .btn {
  background-color: #424242;
  color: #ffffff;
}
body section#membership {
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
}
body section#membership h2 {
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 600;
}
body section#membership p {
  font-size: 18px;
}
body section#membership .btn {
  background-color: #1093a7;
  border: none;
  border-radius: 0;
}
body section#membership .btn:hover {
  background-color: #424242;
}
body section#recruitment {
  background: transparent;
  height: 500px;
  color: #000000;
}
body section#recruitment h1 {
  margin-bottom: 50px;
  font-size: 72px;
  font-weight: 900;
}
body section#recruitment p {
  color: #ffffff;
  margin-bottom: 50px;
}
body section#recruitment .btn {
  background-color: #1093a7;
  border: none;
  border-radius: 0;
}
body section#recruitment .btn:hover {
  background-color: #424242;
}
body section#executiveboard {
  color: #ffffff;
  background-image: url("../images/black_linen_v2.png");
}
body section#executiveboard h2 {
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 600;
}
body section#executiveboard .board-container {
  margin-bottom: 50px;
  color: #ffffff;
}
body section#events {
  background: rgba(3, 60, 75, 0.8);
  color: #ffffff;
}
body section#events h2 {
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 600;
}
body section#contact {
  background-image: url("../images/black_linen_v2.png");
  color: #ffffff;
}
body .modal {
  font-size: 14px;
}
body footer {
  padding: 40px 40px;
  background-color: #ffffff;
  color: #34495e;
}
