// out: styling.css
// sourcemap: true
// compress: true
// main: css/styling.less

// Global Colors
@cloud-white: #EDEFF4;
@light-blue: #01647E;
@medium-blue: #015064;
@dark-blue: #033C4B;
@flat-red: #e74c3c;
@flat-wet-asphalt: #34495e;

// New Global Colors
@color-one: #1093A7;
@color-two: #424242;
@color-three: #DEF2F3;
@color-four: #589BA4;
@color-five: #1AD3F1;

// Basic Colors
@white: #FFF;
@black: #000;


//Mixins

// page-home.php styling

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;
	font-size: 22px;
	background-image: url("../images/black_linen_v2.png");
	// background-attachment: fixed;
	a {
		color: @medium-blue;
		&:hover {
			text-decoration: none;
		}
	}
	.navbar-default {
		background: rgba(255, 255, 255, 0.9);
		a {
			font-size: 18px;
			color: @dark-blue;
		}
	}
	section {
		padding-top: 60px;
		padding-bottom: 60px;
		&#about {
			background-image: url("../images/crossword.png");
			color: @color-two;
			#about-us-content {
				padding-top: 20px;
			}
			.btn {
				background-color: @color-two;
				color: @white;
			}
		}
		&#membership {
			background: rgba(255, 255, 255, 1);
			color: @black;
			h2 {
				margin-bottom: 60px;
				font-size: 32px;
				font-weight: 600;
			}
			p {
				font-size: 18px;
			}
			.membership-content {

			}
			.btn {
				background-color: @color-one;
				border: none;
				border-radius: 0;
				&:hover {
					background-color: @color-two;
				}
			}
		}
		&#recruitment {
			background: transparent;
			height: 500px;
			color: @black;
			//background-image: url("../images/ac_background.jpg");
			//background-attachment: fixed;
			h1 {
				margin-bottom: 50px;
				font-size: 72px;
				font-weight: 900;
			}
			p {
				color: @white;
				margin-bottom: 50px;
			}
			.btn {
				background-color: @color-one;
				border: none;
				border-radius: 0;
				&:hover {
					background-color: @color-two;
				}
			}
		}
		&#executiveboard {
			color: @white;
			background-image: url("../images/black_linen_v2.png");
			h2 {
				margin-bottom: 60px;
				font-size: 32px;
				font-weight: 600;
			}
			.board-container {
				margin-bottom: 50px;
				color: @white;
			}
		}
		&#events {
			background: rgba(3, 60, 75, 0.8);
			color: @white;
			h2 {
				margin-bottom: 60px;
				font-size: 32px;
				font-weight: 600;
			}
		}
		&#contact {
			background-image: url("../images/black_linen_v2.png");
			color: @white;
		}
	}
	.modal {
		font-size: 14px;
	}
	footer {
		padding: 40px 40px;
		background-color: @white;
		color: @flat-wet-asphalt;
	}
}

// page-candidates.php styling

#candidates {
	background-image: url('../images/black_linen_v2.png');
}
