// out: candidate-styling.css
// sourcemap: true
// compress: true
// main: css/candidate-styling.less

@white: #FFF;
@muted: #6f6f6f;

@color-one: #1093A7;
@color-two: rgba(3, 60, 75, 0.8);
@flat-wet-asphalt: #34495e;

#blurb-section {
  font-family: 'Roboto', sans-serif;
  padding: 50px 10px;
  background-color: @white;
  color: @color-two;
  h1 {
    font-weight: 700;
  }
  p {
    color: @muted;
    font-size: 20px;
  }
}
#candidates {
  padding: 20px 10px;
  font-family: 'Roboto', sans-serif;
  color: @white;
  b {
    color: @muted;
    font-size: 24px;
  }
  .blurb {
    font-size: 18px;
  }
  .row {
    margin-bottom: 70px;
  }
  .btn {
    background-color: @color-one;
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
    &:hover {
      background-color: @color-two;
    }
  }
}

.modal {
  .btn {
    background-color: @color-one;
    border: none;
    border-radius: 0;
    &:hover {
      background-color: @color-two;
    }
  }
  .modal-dialog {
    border-radius: 0px;
  }
  .modal-body {
    color: @flat-wet-asphalt;
    .cand_position {
      font-size: 22px;
    }
    .cand_name {

    }
    .cand_bio {

    }
  }
}
